<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="notificationService" class="com.example.notification.EmailService"/>
    <bean id="notificationManager" class="com.example.notification.NotificationManager">
        <property name="notificationService" ref="notificationService"/>
    </bean>
</beans>
