<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Change this class to switch payment -->
    <bean id="paymentService" class="com.example.payment.UPIPayment"/>

    <bean id="paymentProcessor" class="com.example.payment.PaymentProcessor">
        <property name="paymentService" ref="paymentService"/>
    </bean>

</beans>
