<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <!-- ServletConfig Parameters -->
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>

        <init-param>
            <param-name>studentName</param-name>
            <param-value>std</param-value>
        </init-param>

        <init-param>
            <param-name>rollNo</param-name>
            <param-value>101</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>

    <!-- ServletContext Parameters -->
    <context-param>
        <param-name>collegeName</param-name>
        <param-value>dypu</param-value>
    </context-param>

    <context-param>
        <param-name>course</param-name>
        <param-value>MCA</param-value>
    </context-param>

</web-app>